<% if book.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= book.errors.count %>errors prohibited this obj from being saved:
    </h3>
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <% if book.id.nil? %>
  <div class="form-group row" id="star">Rate</div>
  <script>
  //初回読み込み、リロード、ページ切り替えで動く。
  $(document).on('turbolinks:load', function() {
  // scriptファイルをどのidの部分に配置するかを指定
    let elem = document.querySelector('#star');
    if (elem == null) return;
    
    elem.innerHTML = ""
    let opt = {  
      //星画像の指定などのオプションをここに記述,
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      scoreName: 'book[star]',
      half: false,
     };
    raty(elem,opt);
    });
  </script>
  <% else %>
    <div class="form-group">
      <%= render "stars", book: book %>
    </div>
  <% end %>
  <div class="form-group">
    <label>Category</label>
    <%= f.text_field :category, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
